<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Cycle-GAN App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1>The Cycle-GAN App</h1>
    </header>
    <div>
      <img-container>
        <section>
          <img id='uploaded_image' height='256' width='256'>
          <div id='status'class="centered">Please upload a picture.</div>
        </section>
        <form>
          <div>
            <input id='file_input' type="file" name="file" accept="image/*" required="true">
          </div>
        </form>
      </img-container>
      <img-container>
        <section>
            <img id='inferred_image' height='256' width='256'>
        </section>
      </img-container>
    </div>
    <script>
        const handleErrors = (response) => {
          if (!response.ok) {
              throw Error(response.statusText);
          }
          return response;
        };
        // uploads an image file to the server,
        // fetches the inferred image and displays it
        const upload = (file) => {
          const status = document.getElementById('status');
          status.textContent = 'Uploading...';
          document.getElementById('uploaded_image').src = URL.createObjectURL(
              file);
          const url = '/';
          const data = new FormData();
          data.append('file', file);
          fetch(url, { method: 'POST',body: data})
            .then(handleErrors)
            .then((response) => {
              if(!response.ok) {
                throw response;
              }
              return response.blob();
            })
            .then((blob) => {
              const objectUrl = URL.createObjectURL(blob);
              status.style.visibility = 'hidden';
              document.getElementById('inferred_image').src = objectUrl;
            })
            .catch((error) => {
              console.log("Error occurred");
              console.log(error);
              document.getElementById('uploaded_image').src = '';
              status.textContent = error;
            });
        };

        // Initialization.
        // sets up the app logic, declares required variables,
        // contains all the other functions
        const input = document.getElementById('file_input');
        const status = document.getElementById('status');

        input.addEventListener('change', () => {
          document.getElementById('inferred_image').src = '';
          status.style.visibility = 'visible';
          if (!input.files || !input.files[0]) {
            document.getElementById('uploaded_image').src = '';
            status.textContent = 'Inappropriate file.';
            return;
          }
          const file = input.files[0];
          if (file.size > 50 * 1024 * 1024) {
            document.getElementById('uploaded_image').src = '';
            status.textContent = 'File size too big.';
          } else if (!file.type.startsWith('image/jpg') &&
                     !file.type.startsWith('image/jpeg') &&
                     !file.type.startsWith('image/png')) {
            document.getElementById('uploaded_image').src = '';
            status.textContent = 'Inappropriate file type.';
          } else {
            upload(file);
          }
        }, false);
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45266465-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-45266465-2');
      </script>
  </body>
</html>
