/* General */

html {
  /*font-family: 'Raleway', sans-serif;*/
  background-color: rgb(219, 217, 217);
  font-size: 10px;
}

body {
  width: 800px;
}

/* Typography */

h1 {
  /*font-family: 'Cherry Swash', cursive;*/
  background-size: 48px 48px;
  font-size: 5rem;
  text-align: center;
}

input, p {
  font-size: 1.5rem;
}

/* block styling */

header, left, right, footer {
  border: 2px solid rgb(100, 98, 98);
  padding: 20px;
}

body > div {
  border: 2px solid rgb(100, 98, 98);
  display: flex;
}

img-container {
  align-items: stretch;
  display: flex;
  flex: 5;
  flex-flow: column;
}

img-container div {
  margin-bottom: 20px;
}

input {
  background: rgb(71, 70, 70);
  box-shadow: inset 1px 1px 1px white;
  color: rgb(0, 0, 0);
  display: block;
  padding: 5px;
  width: 201.5px;
}

section img {
  background-color: rgba(126, 126, 126, 0.336);
  width: 100%;
}
