/* General */

html {
  /*font-family: 'Raleway', sans-serif;*/
  background-color: rgb(219, 217, 217);
  font-size: 10px;
}

body {
  width: 800px;
}

/* Typography */

h1 {
  /*font-family: 'Cherry Swash', cursive;*/
  background-size: 48px 48px;
  font-size: 5rem;
  text-align: center;
}

input{
  font-size: 1.5rem;
}

/* block styling */

header, left, right, footer {
  padding: 1.75em;
}

body > div {
  display: flex;
}

img-container {
  border: 2px solid rgb(100, 98, 98);
  padding: 1em;
  align-items: stretch;
  display: flex;
  flex: 5;
  flex-flow: column;
}

img-container div {
  margin-bottom: 1.75em;
}

input {
  color: rgb(0, 0, 0);
  display: block;
  padding: 1em;
  width: 201.5px;
}

section img {
  background-color: rgba(126, 126, 126, 0.336);
  width: 100%;
}

.status_title {
  font-weight: bold;
}

section {
  position: relative;
text-align: center;
color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
